<p id="notice"><%= notice %></p>

<%= search_form_for @q do |f| %>
  <%= f.label :usuario_id_eq %>
  <%= f.search_field :usuario_id_eq %>
  <%= f.submit %>
<% end %>

<h1>Emprestimo Livros</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Nome do Usuario</th>
      <th>Código Institucional</th>
      <th>Livro</th>
      <th>Nome do Livro</th>
      <th>Dia</th>
      <th>Devolucao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emprestimo_livros.each do |emprestimo_livro| %>
      <tr>
        <td><%= emprestimo_livro.usuario_id %></td>
        <td><%= emprestimo_livro.usuario.nome %></td>
        <td><%= emprestimo_livro.usuario.cod_instituicional %></td>
        <td><%= emprestimo_livro.livro_id %></td>
        <td><%= emprestimo_livro.livro.nome %></td>
        <td><%= emprestimo_livro.dia.strftime("%d/%m/%Y") %></td>
        <td><%= emprestimo_livro.devolucao.strftime("%d/%m/%Y") %></td>
        <td><%= link_to 'Show', emprestimo_livro %></td>
        <td><%= link_to 'Edit', edit_emprestimo_livro_path(emprestimo_livro) %></td>
        <td><%= link_to 'Destroy', emprestimo_livro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Emprestimo Livro', new_emprestimo_livro_path %>
<%= link_to 'Consulta Usuarios', usuarios_path %>
