<%- model_class = Livro -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
  <dd><%= @livro.nome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:autor) %>:</strong></dt>
  <dd><%= @livro.autor %></dd>
  <dt><strong><%= model_class.human_attribute_name(:editora) %>:</strong></dt>
  <dd><%= @livro.editora %></dd>
  <dt><strong><%= model_class.human_attribute_name(:edicao) %>:</strong></dt>
  <dd><%= @livro.edicao %></dd>
  <dt><strong><%= model_class.human_attribute_name(:descricao) %>:</strong></dt>
  <dd><%= @livro.descricao %></dd>
  <dt><strong><%= model_class.human_attribute_name(:num_exemplares) %>:</strong></dt>
  <dd><%= @livro.num_exemplares %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tempo_emprestimo) %>:</strong></dt>
  <dd><%= @livro.tempo_emprestimo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @livro.status %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              livros_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_livro_path(@livro), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              livro_path(@livro),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
